html {
    background-image: url("https://media.gettyimages.com/photos/pastel-sky-background-picture-id480921362?b=1&k=6&m=480921362&s=612x612&w=0&h=qAhAeLtECt-57YXAEllDFeO-MkohinJ5REsStJt8NnM=");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    text-align: center;
}

.dancing {
    margin: auto 0;
    width: 400px;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% { transform: scale(0.5);}
    25% { transform: scale(1);}
    50% { transform: scale(1.5);}
    75% { transform: scale(1);}
    100% { transform: scale(0.5);}
}

.notDancing {
    margin: auto 0;
    width: 400px;
}

