html {
    background-image: url("https://media.gettyimages.com/photos/pastel-sky-background-picture-id480921362?b=1&k=6&m=480921362&s=612x612&w=0&h=qAhAeLtECt-57YXAEllDFeO-MkohinJ5REsStJt8NnM=");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dancing {
    display: flex;
    margin: auto;
    width: 30%;
    animation: pulse 5s infinite;
    padding: 5em;
}

@keyframes pulse {
    0% { transform: scale(0.5);}
    25% { transform: scale(1);}
    50% { transform: scale(1.5);}
    75% { transform: scale(1);}
    100% { transform: scale(0.5);}
}

.notDancing {
    width: 30%;
    display: flex;
    margin: auto;
    padding: 10px;
}

.getting-jiggy {
    position: relative;
    margin: auto;
    text-align: center;
}

.button.is-normal.is-light {
    display: flex;
    margin: auto;
}

.space {
    margin: 20px;
}
